#p_title {
	font-family: arial;
	color: orange;
	font-size: 20;	
}
#link1 {
	color: grey;
}
#link2 {
	color: grey;
}
body {
	font-family: helvetica;
	color:red;
	background-image: url("BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}